@import "../pui-variables";
@import '../mixins';

.flyout {
  $flyout-default-width: 480px;

  position: absolute;
  background: transparentize($modal-backdrop-bg, 0.2);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  z-index: $zindex-modal;
  transform: translateZ(0);
  will-change: opacity;
  overflow: hidden;

  &.flyout-open {
    opacity: 1;
    visibility: visible;
    z-index: $zindex-modal;
  }

  .flyout-dialog {
    background-color: white;
    width: $flyout-default-width;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX($flyout-default-width);
    will-change: transform;

    &.flyout-open {
      transform: translateX(0);
    }
  }

  .flyout-content {
    .flyout-header {
      padding: ($base-unit * 2) 0 ($base-unit * 2) 0;
      margin: 0;
      border-bottom: 3px solid $neutral-8;

      .col {
        align-self: center;
      }
    }

    .flyout-body {
      padding: $base-unit * 2;
    }
  }
}